body{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

header,
.Logo,
.Slider,
.Content,
.menu,
.search,
.unit,
footer {
    background-color: aqua;
    color: white;
    margin: 20px 10px;
    padding: 20px;
    flex-grow: 1;
}

header{
    background-color: aqua;
    color: white;
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    align-self: center;
}

.first{
    display: flex;
    justify-content: space-between;
}

.Logo{
    background-color: aqua;
    color: white;
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    justify-self: flex-end;
    align-self: flex-end;
    align-content: flex-end;
}

.Slider{
    background-color: aqua;
    color: white;
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    align-self: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

.Content{
    background-color: aqua;
    color: white;
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    height: fit-content;
    width: fit-content;
}

.second{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    background-color: aqua;
    color: white;
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    height: fit-content;
    width: fit-content;
}

.search{
    background-color: aqua;
    color: white;
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    height: fit-content;
    width: fit-content;
}

.unit{
    background-color: aqua;
    color: white;
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    height: fit-content;
    width: fit-content;
}

.footer{
    display: flex;
}

.footer_div{
    background-color: aqua;
    color: white;
    font-family: 'Comic Sans MS', Comic Sans, cursive;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    height: fit-content;
    width: fit-content;
}
